# AutoBot Information
site_name: AutoBot Documentation

# Configuration
theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - toc.integrate
    - navigation.top
    - header.autohide #the header is automatically hidden when the user scrolls past a certain threshold, leaving more space for content. Add the following lines to mkdocs.yml:
    - search.suggest
    - search.share
    - search.highlight
    - navigation.instant #with this feature, all internal links will be intercepted and dispatched via XHR without fully reloading the page.

  language: en
  
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
      primary: deep orange

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
      primary: deep orange

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default 
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
      primary: deep orange
  logo: assets/logo.png
  favicon: assets.png
  
    

# defines the order of the markdown-
nav:
  - Home: index.md
  - Objects: objects.md
  - Reference: reference.md
  - FAQS: faqs.md

site_author: Tobais
site_description: >-
  DESCRIPTION

# Repository
repo_name: OSCA-Kampala-Chapter/autobot
repo_url: https://github.com/OSCA-Kampala-Chapter/autobot

# These appeal to the footer section of the file and are linked to direct following handles

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/OSCA-Kampala-Chapter/autobot
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/oscakampala
    - icon: fontawesome/brands/linkedin
      link: https://linkedin.com/in/oscakampala
    - icon: fontawesome/brands/instagram
      link: https://www.instagram.com/oscakampala

# These are markdown extensions: `They are used up in highliting of 
#codes and even make the page to look more cute`

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.mark

  # Plugins: This is a plugin that enables the search engine
  #in the markdown file.

  # this option removes the edit buttton
edit_uri: ""

plugins:
  - search:
        separator: '[\s\-\.]'
  - mkdocstrings


# Copyright Section: In this section, it's almost the same as adding a copyright tag in the 
#html languange. All waht it does is to add a copyright infomation message within the footer section.
copyright: |
  &copy; 2022 <a href="https://github.com/OSCA-Kampala-Chapter/autobot"  target="_blank" rel="noopener">Autobot</a>